# OVH
# ===================================
SetEnv PHP_VER 5_TEST

SetEnv REGISTER_GLOBALS 0
SetEnv MAGIC_QUOTES 0



# Zend Framework
# ===================================
SetEnv APPLICATION_ENV production

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]